<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask_Chat_App</title>
</head>

<body>
    <br><br>
    <h2 style="font-size:2em;"><b>Your Messages (click on a message to decode):</b></h2>
    <div class="message_holder" style="height:400px; overflow-y:scroll;">
        <h3 style='color: #ccc;font-size: 2.5em;'>No messages yet..</h3>
    </div>
    <br>
    <form action="" method="POST">
        <input style="font-size:1.5em" type="text" class="username" placeholder="User Name" enctype="multipart/form-data" readonly />
        <input style="font-size:1.5em" type="text" class="message" placeholder="Messages" enctype="multipart/form-data" />
        <input type="submit" />
    </form>
    <br>
    <div class="info_holder" style="font-size:1.5em;">

    </div>
    
    

    <!-- jQuery for handling form submission -->
    <script src="static/jquery.min.js"></script>
    <!-- Socket.IO for communication with the server -->
    <script src="static/socket.io.min.js"></script>
    <!-- BigInteger.js for storing numbers that JavaScript can't hold precisely -->
    <script src="static/BigInteger.min.js"></script>
    <!-- aes.js from crypto-js for encrypting plaintext with the symmetric key -->
    <script src="static/aes.js"></script>
    <!-- js-sha256 for computing sha256 hashes of usernames, ensuring no repeat names -->
    <script src="static/sha256.min.js"></script>
    <!-- My User class file to handle all key computations, encryption, and decryption -->
    <script src="static/crypto.js"></script>

    <!-- 
    Bibliography/works cited:
        Alla, Samhita. (26 May 2018) Building Your First Chat Application Using Flask in 7 Minutes.
            Codeburst, codeburst.io/building-your-first-chat-application-using-flask-in-7-minutes-f98de4adfa5d.

        Buchanan, Bill. (n.d.). Diffie–Hellman Example. Retrieved November 8, 2018 from
            buchananweb.co.uk/security02.aspx.
                
        Diffie, Whitfield; Hellman, Martin E. (November 1976). IEEE Transactions on Information
            Theory. New Directions in Cryptography. Retrieved November 6, 2018, from
            https://ee.stanford.edu/~hellman/publications/24.pdf

        Yi-Cyuan Chen. js-sha256 (0.9.0) [JavaScript]. https://github.com/emn178/js-sha256

        Evan Vosberg. crypto-js (3.1.2) [JavaScript]. https://github.com/brix/crypto-js

        Guillermo Rauch. Socket.IO (1.7.3) [JavaScript]. https://socket.io/

        Stretch, Jeremy. (23 Nov. 2010, 4:16 UTC). Symmetric Encryption, Asymmetric Encryption, and
            Hashing. Retrieved November 6, 2018, from
            packetlife.net/blog/2010/nov/23/symmetric-asymmetric-encryption-hashing/.

        John Resig. JQuery (1.12.4) [JavaScript]. https://jquery.com/

        Peter Olson. BigInteger.js (1.6.36) [JavaScript]. https://github.com/peterolson/BigInteger.js
    -->

    <script>
        // connect to the server
        const socket = io.connect('http://' + document.domain + ':' + location.port);
        // initialize the client's user object to store information
        let user = new User(1, 1);
        // variable to hold the username
        let myName = '';
        // array of other users' sha256 hashes of their usernames to ensure non-repetition
        let hashList = [];
        // for future use in checking if users are still connected
        const usersStatus = {};
        function getName() {
            // until the client gives a non-empty unique name 
            while (!myName || hashList.includes(sha256(myName))) {
                // ask them for their name and store the result
                myName = prompt('What is your name?');
            }
            // set the form username value to their valid name
            $('input.username').val(myName);
        }
        // when you connect to the server
        socket.on('connect', () => {
            // tell the server that you have joined
            socket.emit('new user', {});
        });
        // when the server send back the hash message
        socket.on('hash', json => {
            // set the hash list to all of the other users' hashes
            hashList = json.hashes;
            // get the valid name
            getName();
            // send the hash of the username back to the server
            socket.emit('my hash', {
                myHash: sha256(myName)
            });
        });
        // when the server send back the init message
        socket.on('init', json => {
            // console.log('init');
            // use the public keys to initialize the User instance
            user = new User(json.p, json.q);
            console.log('x: ', user.x.value, 'a: ', user.a);
            // send out the user's a value to all other users
            socket.emit('swap', {
                a: user.a,
                p: user.p,
                q: user.q,
            });
        });
        // when a third, fourth, etc. user joins
        socket.on('use prev', json => {
            // set user x value to previous key
            user.usePrev();
            // set user's a value to newest user
            socket.emit('big swap', {
                a: user.a,
                new_id: json.id
            });
        });
        // when you receive another user's a value
        socket.on('new o', json => {
            // as long as you haven't already received this a from another user
            if (json.a != user.o) {
                console.log('new o: ', json.a);
                // calculate your key using that value
                user.calcKey(json.a);
                console.log('key: ', user.key, 'p, q:', user.p.value, user.q.value);
                // tell the server that you are ready to go
                socket.emit('join', {
                    user_name: user.encrypt(myName)
                });
                $('div.info_holder').html(`Public 🔑s: ${user.p}, ${user.q}<br>Private 🔑: ${user.x}<br>Symmetric shared 🔑: ${user.key}`)
            }
        });
        // when the user submits the form/wants to send a message
        $('form').on('submit', e => {
            // don't do the default of the form
            e.preventDefault();
            // get the values from the form
            let user_name = $('input.username').val();
            let user_input = $('input.message').val();
            // send out encrypted message to everyone else
            socket.emit('msg', {
                user_name: user.encrypt(user_name),
                message: user.encrypt(user_input)
            });
            // put the cursor back in the message box
            $('input.message').val('').focus();
        });
        // when you receive a message encrypted from another user
        socket.on('new msg', json => {
            console.log('incoming');
            console.log(json);
            // decrypt the two sent values
            const uname = user.decrypt(json.user_name);
            const msg = user.decrypt(json.message);
            if (uname.length > 0) {
                // if it still says that there are no messages yet, take that away
                $('h3').remove();
                // show the message and the sender
                $(`<div style="cursor:default;font-size:1.5em;"><b style="color: #000"> ${json.user_name} </b> ${json.message}</div>`).appendTo('div.message_holder').click(function() {
                    $(this).html(`<div style="cursor:default;font-size:1.5em;"><b> ${uname} </b> ${msg}</div>`)
                });
                $('div.message_holder').scrollTop($('div.message_holder')[0].scrollHeight);
            }
        });
        // when another user connect and sends their encrypted username
        socket.on('join', json => {
            // decrypt the sent username
            const uname = user.decrypt(json.user_name);
            // if you haven't already seen that they joined
            if (!(uname in usersStatus)) {
                // if the no messages is still displayed, remove it
                $('h3').remove();
                // if the username was correctly decrypted
                if (uname.length > 0) {
                    // show that that user has connected where the messages usually are
                    $('div.message_holder').append('<div style="color:#2eaf00;font-size:2em;"><b>' + uname +
                        ' connected</b></div>');
                    $('div.message_holder').scrollTop($('div.message_holder')[0].scrollHeight);
                }
                // remember that that user is connected
                usersStatus[uname] = true;
            }
        });
        // when another user disconnects
        socket.on('leave', json => {
            // decrypt the username of the disconnector
            const uname = user.decrypt(json.user_name);
            // if the user was previously connected
            if (uname in usersStatus) {
                // if the no messages is still displayed, remove it
                $('h3').remove();
                // if the username was correctly decrypted
                if (uname.length >= 1) {
                    // show that that user has disconnected where the messages usually are
                    $('div.message_holder').append('<div style="color:#e21a00;font-size:2em;"><b>' + uname +
                        ' disconnected</b></div>');
                    $('div.message_holder').scrollTop($('div.message_holder')[0].scrollHeight);
                }
                // take that user out of the users who are still connected
                delete usersStatus[uname];
            }
        });
    </script>

</body>

</html>